Arithmetic operators

In [1]:
20+900

920

In [5]:
20*8

160

In [7]:
2000-1888

112

In [8]:
1500/25

60.0

In [12]:
1224%15

9

In [16]:
12**4

20736

Assignment operators

In [3]:
x = 10

In [4]:
x

10

In [65]:
x =20 #arithmetic operation do it

In [66]:
x

20

In [52]:
x +=2
x

22

In [54]:
x -=5
x

17

In [56]:
x *=  3

In [62]:
x /=10
x

0.00408

In [67]:
x **=2
x

400

Comparison operator

In [68]:
x = 10

In [69]:
y = 20

In [72]:
x>y #comparison do it

False

In [18]:
y>26

False

In [19]:
x<y

True

In [20]:
x>=y

False

In [21]:
y<=x

False

In [22]:
x == y

False

In [23]:
y==x

False

In [24]:
x !=y

True

In [25]:
y !=x

True

In [26]:
x =25

In [27]:
1<x<100 #range check

True

In [73]:
10<y<100

True

In [28]:
z =10

In [29]:
del z # delete variable

In [30]:
#shift + enter to execute

In [74]:
p = 1231256
r =3.25
y= 3
si = p*r*y/100 # random calculation
si

120047.46

In [42]:
si

120047.46

Logical operator

In [75]:
a = True
b = False
print(a)      #logical operation
print(b)
print(a and b)
print(a or b)
print(not a)
print(not b)

True
False
False
True
False
True

In [49]:
# identity operator we use is to "operate" and we will use it in data structures
# membership operator we use "in" to operator

Membership operator

In [85]:
x = ["xyz", "abc", "cde"] # list of strings
print("xyz" in x)

True

In [87]:
"cde" in x

True

In [88]:
"abc" in x

True

In [89]:
"ngl" in x

False

In [90]:
"ngl" not in x

True

Identity operator

In [96]:
xy =25
yz = 20

In [98]:
xy is not yz

True

In [99]:
xy is yz

False

In [92]:
p = 20
q = 10

In [93]:
p = q

In [94]:
p

10

In [95]:
q

10

In [3]:
del p

In [4]:
del q

In [5]:
a = 25
b = 20

In [6]:
a >b

True

In [7]:
b>a

False

In [8]:
a == b

False

In [9]:
b ==a

False

In [10]:
del a
del b

In [11]:
a = 20
b= 15

In [12]:
x = a+b/2

In [13]:
x

27.5

In [14]:
y = a+b-2

In [15]:
y

33

In [16]:
del a
del b
del x
del y

In [6]:
a = 10
b = 12

In [3]:
x = a+2

In [4]:
y = b+5

In [5]:
x
y

17

In [6]:
x

12

In [7]:
z = x+y

In [8]:
z

29

In [1]:
w = 20

In [2]:
w

20

In [4]:
z= a+b

In [5]:
z

22

In [102]:
name = input("vanshaj")
print(name)
age = input(20)
print(age)

vanshaj
21

In [105]:
subject = input("maths")
print(subject)

maths

In [106]:
food = input("chicken")
print(food)
destination = input("lucknow")
print(destination)

sushi
dehradun

In [112]:
cls = input(10)
print(cls)

38

In [113]:
del cls

In [115]:
x = input('enter a number:')
x = int(x) #casting
print(x)
#short way

y = int(input('enter a number: '))
print(y)

29
40

In [116]:
a,b = int(input('A')), int(input('B'))
print(a+b)

47

In [117]:
p =  int(input('enter principle:'))
r =  float(input('enter rate:'))
t = int(input('enter time:'))
si = p*r*t/100
print(si)

428041.25

In [22]:
#output now

In [23]:
print('hi there')
print('A simple message')

hi there
A simple message

In [24]:
print('princile = Rs.' , p)
print('rate =', r, '%')
print('time =', t, 'years')
print('simple interest =Rs.' , si)

princile = Rs. 100000
rate = 25.6 %
time = 8 years
simple interest =Rs. 204800.0

In [25]:
f'' #F-String
r'' # raw string
b'' # byte string
u'' #unicode string

''

In [1]:
x = 10
y = 20.5
z = x+y   #equation 1--  static equation 1  {x} {y} {z} --dynamic variable
print(f'Equation 1 => {x} + {y} ={z}') #formated string variables ko string mein use kar sakte hai

Equation 1 => 10 + 20.5 =30.5

In [4]:
xy =10
yz = 20

In [5]:
xy

10

if case

In [5]:
x = input('enter a word:')
print(x)
if len(x)>=5: # expression gives T/F
    print('Your word is long enough.')
    print('Done.')

happy
Your word is long enough.
Done.

if-else case

In [6]:
num =int(input("enter a number"))
if num%2 ==0:         #nomral case to check even odd case
    print(f'{num} is even')
else:
    print(f'{num} is odd')

28 is even

nested if-else case

In [10]:
x = input('enter a number')
if x.isnumeric(): #isnumeric being a method, method of string
    x = int(x)
    if x>100:
        print(f'{x} is greater than 100')
    else:
        print(f'{x} is smaller than 100')
else:
    print(f'{x} is not a number')

450 is greater than 100

if elif ladder

In [5]:
print("welcome to the restaurant!")
dish = input("enter a dish name:")
if dish == "dosa":
    print("ðŸŒ®south Indian dosa => 75.00 INR")
elif dish == "pizza":
        print("ðŸ•Italian pizza => 350.00 INR")
elif dish == "burger":
            print("ðŸ”Cheesy burger => 150.00 INR")
else:
        print("Sorry! we dont have that dish")

welcome to the restaurant!
ðŸ•Italian pizza => 350.00 INR

:match case(similar to switch case)

In [9]:
print("The Menu:")
print("Select a category\n1. Indian\n2. Italian\n3. American")
choice = int(input("enter a number from the menu:"))
match choice:
    case 1: print(" Indian Dishes\n1. Dosa\n2. Sambhar\n3. Idli\n4. Rice")
    case 2: print(" Italian Dishes\n1. Pasta\n2. Lasagnia\n3. cakes\n4. Wine")
    case 3: print(" American Dishes\n1. Pizza\n2. Donut\n3. Hot dog\n4. Turkey")
    case _: print("Invalid category")

The Menu:
Select a category
1. Indian
2. Italian
3. American
 American Dishes
1. Pizza
2. Donut
3. Hot dog
4. Turkey

Now how to make data ie. (Through list)

In [11]:
Indian = ["Dosa", "Idli", "Sambhar"] #list
Italian =["Pizza", "Pasta", "Lasania"]
American =["Hot-dog", "Donut", "Turkey"]
Chinese =["Rice cake", "Fishes", "Noodles"]
menu =["Indian", "Italian", "American", "Chinese"]
print("The Menu:")
print("select a category:")
for choice in menu:
    print("\t" ,choice)  #"t" gives space before text:
ch = input("select one:")
print()
match ch:
    case "Indian":
        for dish in Indian: print("\t" ,dish)
    case "Italian":
        for dish in Italian: print("\t" ,dish)
    case "American":
        for dish in American: print("\t" ,dish)
    case "Chinese":
        for dish in Chinese: print("\t" ,dish)
    case _:
        print("Invalid category")

The Menu:
select a category:
	 Indian
	 Italian
	 American
	 Chinese

	 Hot-dog
	 Donut
	 Turkey