In [1]:
a ='apple'
b ="banana"
c ="""chocolate and vanilla"""

In [2]:
a

'apple'

In [3]:
b

'banana'

In [4]:
c

'chocolate and vanilla'

In [5]:
print(a)
print(b)
print(c)

apple
banana
chocolate and vanilla

In [7]:
d = 1.2345
d = str(d)  #convert to string(casting)
print(d)

# string duplication
e = 'alex' *5
print(e)

1.2345
alexalexalexalexalex

In [8]:
#string concatenation
'he' +'ll' +'o'

'hello'

indexing

In [2]:
a ="calligraphy"
print(len(a))
print(a[0])
print(a[7])

11
c
a

negative indexing (-1 is last index)

In [3]:
print(a[-1])
print(a[-2])
print(a[-7])
print(a[-9])

y
h
i
l

note: reverse loop in python using range()

In [9]:
for i in range(10, -1, -1):
    print(i, a[i])     #to include a we can write -1

10 y
9 h
8 p
7 a
6 r
5 g
4 i
3 l
2 l
1 a
0 c

In [27]:
b = "hello"
print( b[0], b[1], b[2],b[3], b[4])  #slow and boring way

h e l l o

In [15]:
b = "Matthew"
#slicing method
print(b[0:4])
print(b[4:7])

Matt
hew

In [19]:
name = "Vijay Deenanath Chauhan"
fname= (name[0:5])
mname = (name[6:15]) #-8 starts from 6 and stop at -8
lname =(name[16:23])  #-7 starts from -7 and stop at the end
print(fname)
print(mname)
print(lname)

Vijay
Deenanath
Chauhan

In [40]:
#a trick ( reverse a string)
print(name[::-1])  #start from end and stop at beginning

nahuahC htananeeD yajiV

In [25]:
amount = "$10000"
amount = int(amount[1:])
print(amount)

10000