String Opertaion

In [1]:
a ='apple'
b ="banana"
c ="""chocolate and vanilla"""

In [2]:
a

'apple'

In [3]:
b

'banana'

In [4]:
c

'chocolate and vanilla'

In [5]:
print(a)
print(b)
print(c)

apple
banana
chocolate and vanilla

In [7]:
d = 1.2345
d = str(d)  #convert to string(casting)
print(d)

# string duplication
e = 'alex' *5
print(e)

1.2345
alexalexalexalexalex

In [3]:
#string concatenation
'he' +'ll' +'o'

'hello'

indexing

In [2]:
a ="calligraphy"
print(len(a))
print(a[0])
print(a[7])

11
c
a

negative indexing (-1 is last index)

In [3]:
print(a[-1])
print(a[-2])
print(a[-7])
print(a[-9])

y
h
i
l

note: reverse loop in python using range()

In [9]:
for i in range(10, -1, -1): #to move backword 10 --> -1
    print(i, a[i])     #to include a we can write -1

10 y
9 h
8 p
7 a
6 r
5 g
4 i
3 l
2 l
1 a
0 c

In [27]:
b = "hello"
print( b[0], b[1], b[2],b[3], b[4])  #slow and boring way

h e l l o

In [15]:
b = "Matthew"
#slicing method
print(b[0:4])
print(b[4:7])

Matt
hew

In [19]:
name = "Vijay Deenanath Chauhan"
fname= (name[0:5])
mname = (name[6:15]) #-8 starts from 6 and stop at -8
lname =(name[16:23])  #-7 starts from -7 and stop at the end
print(fname)
print(mname)
print(lname)

Vijay
Deenanath
Chauhan

In [40]:
#a trick ( reverse a string)
print(name[::-1])  #start from end and stop at beginning

nahuahC htananeeD yajiV

In [25]:
amount = "$10000"
amount = int(amount[1:])
print(amount)

10000

EXtra work from home

In [4]:
x = "telepathy"
print(len(x))
print(x[0])
print(x[2])

9
t
l

In [2]:
for i in range(8, -1, -1):
    print(i, x[i])

8 y
7 h
6 t
5 a
4 p
3 e
2 l
1 e
0 t

In [2]:
print(x[-2])

h

In [3]:
print(x[-1])
print(x[-3])

y
t

In [3]:
print(x[0:5])  #slicing method
print(x[5:9])

telep
athy

In [6]:
print(x[::-1])

yhtapelet

In [7]:
print(x[2], x[5])

l a

In [1]:
name = "Eren Yeager"
fname =(name[0:4])
lname =(name[5:11])
print(fname) 
print(lname)

Eren
Yeager

In [2]:
#to print in reverse
print(name[::-1])

regaeY nerE

In [3]:
name = "Mahendra Singh Dhoni"
fname =(name[0:8])
mname =(name[9:14])
lname =(name[15:20])
print(fname)
print(mname)
print(lname)

Mahendra
Singh
Dhoni

In [4]:
print(name[::-1])

inohD hgniS ardnehaM

In [5]:
print(name[0], name[5])

M d

In [9]:
amount = "#$@@200000"
amount = int(amount[4:])
print(amount)

200000